In [6]:
# #@title Download Kaggle API token from Google Drive
# import gdown
# import os
# from pathlib import Path

# gdrive_url = 'https://drive.google.com/uc?id=1P6t7O8vOjmQi3rMX0KQlgO6BT0fk2dI-'
# if not os.path.exists('kaggle.json'):
#   gdown.download(gdrive_url, 'kaggle.json', quiet=False)

# kaggle_dir = Path.home() / '.kaggle'
# kaggle_token_path = kaggle_dir / 'kaggle.json'

# if not kaggle_token_path.exists():
#   kaggle_dir.mkdir(parents=True, exist_ok=True)
#   os.rename('kaggle.json', kaggle_token_path)
#   kaggle_token_path.chmod(0o600)

# dataset_path = 'global_covid-19'
# if not os.path.exists(dataset_path):
#   os.mkdir(dataset_path)
#   !kaggle datasets download -d rohitashchandra/global-covid19-twitter-dataset --path {dataset_path} --unzip
#   gdrive_url = 'https://drive.google.com/uc?id=19Hr0PQSyqGqLLJlPaDKjMfvlbFVnYbBr'
#   os.remove(os.path.join(dataset_path, 'India.csv'))
#   gdown.download(gdrive_url, os.path.join(dataset_path, 'India.csv'), quiet=False)

In [2]:
#@title display csv as dataframes

import os
import pandas as pd
import random
from csv import QUOTE_NONE

dataset = ['Australia.csv', 'Brazil.csv', 'India.csv', 'Indonesia.csv', 'Japan.csv']

for data in dataset:
  try:
    df = pd.read_csv(data, encoding='utf-8', on_bad_lines='skip', quoting=QUOTE_NONE)
  except UnicodeDecodeError:
    df = pd.read_csv(data, encoding='ISO-8859-1', on_bad_lines='skip', quoting=QUOTE_NONE)

  # Fetch 10 random rows
  random_rows = df.sample(n=3)

  # Display the random rows
  print(f"Random rows from {data}:")
  display(random_rows)

Random rows from Australia.csv:

,Unnamed: 0,created_at,text,user_location
334870,400647,Wed Dec 15 22:34:14 +0000 2021,"""RT @nick_coatsworth: Three weeks into the omi...",the peanut gallery association decides weâ€™re ...
317851,387723,Wed Dec 15 15:49:03 +0000 2021,Itâ€™s raining stabby upper arm thingie$ and tes...,"""Dollarama"
184676,246816,Sun Jan 02 09:52:55 +0000 2022,When reporting on the virus how come you don't...,Sydney Australia

Random rows from Brazil.csv:

,Unnamed: 0,created_at,text,user_location
150423,Fri Dec 24 21:10:08 +0000 2021,RT @strachanjamie: Can finally tick off the â€œh...,"""Auld Reekie","Scotia"""
2726,Wed Dec 08 13:55:07 +0000 2021,RT @ezralevant: The fascist countries of the 1...,"""Alberta/Nova Scotia","Canada"""
"But multiple experts sayâ€¦""",Panama,NaN,NaN,NaN

Random rows from India.csv:

,,Unnamed: 0,created_at,text,user_location
477395,Mon Oct 19 11:14:49 +0000 2020,"""#SportsMaterialDistribution to youth club mem...",NaN,NaN,NaN
They may think otherwise! Ã°ÂŸÂ˜Â‚,NaN,NaN,NaN,NaN,NaN
809672,Mon Oct 19 14:03:01 +0000 2020,"""Gujarat Coronavirus Latest Updates",NaN,NaN,NaN

Random rows from Indonesia.csv:

,Unnamed: 0,created_at,text,user_location
135263,115069,Mon Oct 25 12:27:29 +0000 2021,"""Hi ðŸ‘‹ ASEAN family",NaN
254589,"Instead of being transferrâ€¦""","""Surabaya","Trying to reach God""",NaN
152552,â€”Vaccine EUA filed for 12-16 year-olds,NaN,NaN,NaN

Random rows from Japan.csv:

,,,Unnamed: 0,created_at,text,user_location
"https://t.co/qZLHBxYURy""",New Federal State of China,NaN,NaN,NaN,NaN,NaN
248824,Mon Mar 01 20:27:53 +0000 2021,RT @megh_wright: there are two types of people during a pandemic https://t.co/s1nwPXYEI2,Im your stonernextdoor,NaN,NaN,NaN
69307,Tue Dec 28 00:41:41 +0000 2021,"""RT @TheWHL: The WHL has provided an update on its COVID-19 Protocol List following the conclusion of the holiday break.",NaN,NaN,NaN,NaN

In [8]:
#@title display csv as dataframes

import os
import pandas as pd
import random
from csv import QUOTE_NONE
import csv


for data in dataset:
  try:
    with open(data, 'r', encoding='utf-8', newline='') as file:
            df = pd.read_csv(file, on_bad_lines='skip', quoting=csv.QUOTE_MINIMAL)
  except UnicodeDecodeError:
    with open(data, 'r', encoding='ISO-8859-1', newline='') as file:
            df = pd.read_csv(file, on_bad_lines='skip', quoting=csv.QUOTE_MINIMAL)

  # Fetch 10 random rows
  random_rows = df.sample(n=3)

  # Display the random rows
  print(f"Random rows from {data}:")
  display(random_rows)

Random rows from Australia.csv:

,Unnamed: 0,created_at,text,user_location
41595,41595,Fri Dec 10 09:07:00 +0000 2021,RT @LozzaFox: I would like to see this manâ€™s f...,warwickshire
151769,151769,Wed Dec 29 06:36:52 +0000 2021,RT @SandroDemaio: Masks are a small price for ...,"New South Wales, Australia"
30927,30927,Wed Dec 08 23:50:11 +0000 2021,RT @MichelleRoseG33: Itâ€™s my #friday I have to...,Kingston upon Hull

Random rows from Brazil.csv:

,Unnamed: 0,created_at,text,user_location
134746,134746,Wed Dec 22 16:48:52 +0000 2021,@davidhogg111 Harvard must be a joke now. How...,Sacramento
177673,177673,Thu Sep 02 22:05:32 +0000 2021,RT @larryelder: â€œThe documentsâ€”mostly emailsâ€”s...,Brasil
366109,366109,Wed Mar 17 19:09:17 +0000 2021,I am blind. I have Charles Bonnet syndrome. It...,"Halifax, Nova Scotia"

Random rows from India.csv:

,Unnamed: 0,created_at,text,user_location
9805,345928,Mon Oct 19 09:32:01 +0000 2020,A New Zealand journalist is being praised arou...,"West Bengal, India"
3644,237310,Mon Oct 19 08:00:12 +0000 2020,#gstamnesty\n#GSTAmnesty \n\n@nsitharamanoffc ...,"Karjat, India"
31069,975175,Mon Oct 19 15:23:37 +0000 2020,PLS THIS IS LITERALLY THE WORLD IN THE PANDEMI...,India

Random rows from Indonesia.csv:

,Unnamed: 0,created_at,text,user_location
106739,106739,Mon Feb 01 23:13:44 +0000 2021,RT @TokyoFashion: Art director Sebastian Masud...,Jakarta Capital Region
64482,64482,Thu Aug 05 10:04:01 +0000 2021,RT @svpino: We were not ready.\n\nWhen the pan...,Indonesia
190951,190951,1351094531194839040,RT @bambiplushie: i see some of you havent rea...,Indonesia

Random rows from Japan.csv:

,Unnamed: 0,created_at,text,user_location
31871,31871,Wed Dec 29 19:55:43 +0000 2021,Thank god. https://t.co/1GDcTlYhRL,"Winnipeg, Manitoba"
234066,234066,Wed Feb 24 20:20:03 +0000 2021,RT @SenSchumer: We are working to quickly pass...,Santa Monica/Fukuoka
259969,259969,Fri Mar 12 06:10:18 +0000 2021,@Christina_Mitas @archtoronto @fordnation Ever...,Manitoba

In [10]:
#@title merge into one csv

import pandas as pd
from csv import QUOTE_NONE

# List to hold the dataframes
dataframes = []

# Read each CSV file with specific settings to handle quoting issues
for data in dataset:
  try:
    # Open the file with utf-8 encoding, handle errors by replacing problematic characters
    with open(data, 'r', encoding='utf-8', newline='') as file:
      df = pd.read_csv(file, on_bad_lines='skip', quoting=csv.QUOTE_MINIMAL)
      df = df.iloc[:, 1:]
  except UnicodeDecodeError:
    # Fallback to a different encoding if UTF-8 doesn't work
    with open(data, 'r', encoding='ISO-8859-1', newline='') as file:
      df = pd.read_csv(file, on_bad_lines='skip', quoting=csv.QUOTE_MINIMAL)
      df = df.iloc[:, 1:]
  dataframes.append(df)

# Concatenate all dataframes
combined_df = pd.concat(dataframes, ignore_index=True)

# Save the combined dataframe to a new CSV file
combined_df.to_csv('tweets.csv', index=False)


# open and sample 20 rows from tweets.csv
df = pd.read_csv('tweets.csv')
random_rows = df.sample(n=20)
print(f"Random rows from {df}:")
display(random_rows)

Random rows from                              created_at  \
0        Wed Dec 08 04:25:46 +0000 2021
1        Wed Dec 08 04:25:57 +0000 2021
2        Wed Dec 08 04:26:06 +0000 2021
3        Wed Dec 08 04:26:07 +0000 2021
4        Wed Dec 08 04:26:07 +0000 2021
...                                 ...
1510291  Wed Sep 08 17:46:54 +0000 2021
1510292  Wed Sep 08 17:46:59 +0000 2021
1510293  Wed Sep 08 17:47:22 +0000 2021
1510294  Wed Sep 08 17:47:32 +0000 2021
1510295  Wed Sep 08 17:47:36 +0000 2021

                                                      text  \
0        RT @AaronSiriSG: Litigation update:  \n\nFDA d...
1        RT @covidbaseau: The TGA has approved the Mode...
2        RT @SimoLove: Federal Health Minister Greg Hun...
3        @twityouse Are these the deniers that are wear...
4        RT @drsimonegold: WOW: a preprint study for Th...
...                                                    ...
1510291  @Taleeb Your boss breaking the Covid protocol ...
1510292  RT @kfdinews: Sedgwick County commissioners ha...
1510293  RT @JimWatsonOttawa: I find it unbelievable an...
1510294  RT @CarolineLucas: Education Secretary's done ...
1510295  RT @niccijsmith: Spotted in a #Taipei Carrefou...

                          user_location
0                         Iasi, Romania
1                              Canberra
2        Wurundjeri Richmond, Melbourne
3                   Victoria, Australia
4                              Perth WA
...                                 ...
1510291                        Chinada
1510292                     Wichita, KS
1510293           St. Andrews, Manitoba
1510294                       Chasetown
1510295                             NaN

[1510296 rows x 3 columns]:

,created_at,text,user_location
710922,Fri Feb 26 10:40:22 +0000 2021,RT @BTS_UPDATES_GER: [ENG TRANSLATION]\n\ntw /...,"Japeri, Brasil"
647398,Mon Aug 09 12:45:59 +0000 2021,RT @EY_Cyprus: According to the #EYCyprus Busi...,"Barranquilla, Colombia"
813584,Mon Feb 01 18:43:26 +0000 2021,RT @briebriejoy: I reached out to NNU &amp; wa...,"SÃ£o Carlos, Brasil"
707681,Thu Feb 25 01:13:48 +0000 2021,In the same way that white Republican males pr...,Santa Cruz
1086140,Fri May 08 11:43:01 +0000 2020,RT @tzimmer_history: Hereâ€™s a story about how ...,"nipaluna, palawa land"
194399,Fri Dec 31 06:13:49 +0000 2021,RT @JohnRuddick2: 2020: Year of COVID-mania.\...,"Victoria, Australia"
1113898,Sat Dec 25 02:30:29 +0000 2021,RT @Trinifood: What did the unions say?,Trinidad and Tobago
1446498,Sat Mar 27 03:18:07 +0000 2021,RT @TheBreakdownAB: From the DMâ€™s...\n\nAs a f...,Manitoba
1043695,Mon Dec 20 09:18:21 +0000 2021,RT @rishipuff: when the pandemic started i was...,"Bali, Indonesia"
1383961,Wed Jun 23 06:16:04 +0000 2021,@SimonKaggwaNjal @MinofHealthUG @SimonKaggwaNj...,Girl from Kazo
249598,Sun Jan 02 10:59:49 +0000 2022,@jb_in_motion For Clarity:\nhttps://t.co/SepfI...,"Jerusalem, Israel"
717552,Fri Feb 26 19:28:14 +0000 2021,RT @DylanTweetin: If you told me a month ago w...,"Aurora, CO"
725233,Mon Mar 01 06:15:27 +0000 2021,RT @DrJinRussell: To understand whatâ€™s happene...,Patua Te Kaikiri - end racism
11109,Wed Dec 08 12:08:42 +0000 2021,RT @NotaliaMateo: Imagine a vaccine so thoroug...,"Sydney, New South Wales"
1189061,Wed Dec 15 16:24:30 +0000 2021,RT @AFP: #UPDATE The EU health agency the #ECD...,"Tokyo, Japan"
442059,Fri Dec 31 23:12:35 +0000 2021,RT @Joyhenderson78: We are 2 years in to a glo...,"alberta, unfortunately"
127626,Mon Dec 27 20:15:41 +0000 2021,RT @peasley_mark: Annual holidays arent suffi...,"Melbourne, Victoria"
710978,Fri Feb 26 10:52:31 +0000 2021,RT @Pontifex: May the example of so many docto...,General Santos City
820994,Thu Feb 04 09:46:53 +0000 2021,@disclosetv Is not the vaccine ..,Copenhagen
38744,Fri Dec 10 06:47:46 +0000 2021,RT @SpringSteps: This radical regime is not ev...,"Youngstown, OH"

In [13]:
# def detect_emotion(text):
#     words = text.split()
#     emotions_score = {'worried': 0, 'happy': 0, 'neutral': 0, 'angry': 0}

#     for word in words:
#         if word in lexicon_pivot['word'].values:
#             word_data = lexicon_pivot[lexicon_pivot['word'] == word]
#             for emotion in ['worried', 'happy', 'neutral', 'angry']:
#                 # Here you can define how each lexicon's emotion category maps to your categories
#                 if emotion in word_data.columns and word_data.iloc[0][emotion] == 1:
#                     emotions_score[emotion] += 1

#     return max(emotions_score, key=emotions_score.get)

In [14]:
# df['text'] = df['text'].astype(str)
# df['emotion'] = df['text'].apply(detect_emotion)
# df.to_csv('labeled_tweets.csv', index=False)

In [15]:
# df['emotion'].value_counts()

emotion
worried    1510296
Name: count, dtype: int64

In [56]:
df = pd.read_csv('tweets.csv')

In [57]:
df.head()

,created_at,text,user_location
0,Wed Dec 08 04:25:46 +0000 2021,RT @AaronSiriSG: Litigation update: \n\nFDA d...,"Iasi, Romania"
1,Wed Dec 08 04:25:57 +0000 2021,RT @covidbaseau: The TGA has approved the Mode...,Canberra
2,Wed Dec 08 04:26:06 +0000 2021,RT @SimoLove: Federal Health Minister Greg Hun...,"Wurundjeri Richmond, Melbourne"
3,Wed Dec 08 04:26:07 +0000 2021,@twityouse Are these the deniers that are wear...,"Victoria, Australia"
4,Wed Dec 08 04:26:07 +0000 2021,RT @drsimonegold: WOW: a preprint study for Th...,Perth WA

In [58]:
df = df.dropna()

In [59]:
import re
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from geopy.geocoders import Nominatim
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
# Download NLTK data
df['text'] = df['text'].astype(str)
df['cleaned_text'] = df['text'].apply(lambda x: re.sub(r'http\S+', '', x))
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: re.sub(r'@\w+', '', x))
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: re.sub(r'#\w+', '', x))
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
stop_words = set(stopwords.words('english'))
df['cleaned_text'] = df['cleaned_text'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words]))
df['tokens'] = df['cleaned_text'].apply(word_tokenize)
lemmatizer = WordNetLemmatizer()
df['tokens'] = df['tokens'].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

In [60]:
def is_valid_date(date_str):
    try:
        pd.to_datetime(date_str)
        return True
    except (ValueError, OverflowError):
        return False

In [61]:
# Count and drop invalid dates
def count_and_drop_invalid_dates(df, column):
    # Identify valid dates
    valid_dates = df[column].apply(is_valid_date)
    
    # Count invalid dates
    invalid_date_count = (~valid_dates).sum()
    
    # Drop rows with invalid dates
    df_valid = df[valid_dates].reset_index(drop=True)
    
    return df_valid, invalid_date_count

# Apply the function
df, invalid_date_count = count_and_drop_invalid_dates(df, 'created_at')

print(f"Number of rows with invalid dates: {invalid_date_count}")

# Display the processed DataFrame
print("Processed DataFrame without invalid dates:")
print(df)

Number of rows with invalid dates: 23682
Processed DataFrame without invalid dates:
                             created_at  \
0        Wed Dec 08 04:25:46 +0000 2021
1        Wed Dec 08 04:25:57 +0000 2021
2        Wed Dec 08 04:26:06 +0000 2021
3        Wed Dec 08 04:26:07 +0000 2021
4        Wed Dec 08 04:26:07 +0000 2021
...                                 ...
1486587  Wed Sep 08 17:46:50 +0000 2021
1486588  Wed Sep 08 17:46:54 +0000 2021
1486589  Wed Sep 08 17:46:59 +0000 2021
1486590  Wed Sep 08 17:47:22 +0000 2021
1486591  Wed Sep 08 17:47:32 +0000 2021

                                                      text  \
0        RT @AaronSiriSG: Litigation update:  \n\nFDA d...
1        RT @covidbaseau: The TGA has approved the Mode...
2        RT @SimoLove: Federal Health Minister Greg Hun...
3        @twityouse Are these the deniers that are wear...
4        RT @drsimonegold: WOW: a preprint study for Th...
...                                                    ...
1486587  RT @TWilsonOttawa: #PandemicElection #egolecti...
1486588  @Taleeb Your boss breaking the Covid protocol ...
1486589  RT @kfdinews: Sedgwick County commissioners ha...
1486590  RT @JimWatsonOttawa: I find it unbelievable an...
1486591  RT @CarolineLucas: Education Secretary's done ...

                          user_location  \
0                         Iasi, Romania
1                              Canberra
2        Wurundjeri Richmond, Melbourne
3                   Victoria, Australia
4                              Perth WA
...                                 ...
1486587                         Chinada
1486588                        Chinada
1486589                     Wichita, KS
1486590           St. Andrews, Manitoba
1486591                       Chasetown

                                              cleaned_text  \
0        RT Litigation update FDA doubles asking federa...
1        RT The TGA approved Moderna vaccine booster do...
2        RT Federal Health Minister Greg Hunt Were well...
3        Are deniers wearing â€œif I get sick Covid never...
4        RT WOW preprint study The Lancet shows protect...
...                                                    ...
1486587  RT â€œfollowing scienceâ€ ends moment Trudeau nee...
1486588  Your boss breaking Covid protocol social dista...
1486589  RT Sedgwick County commissioners heard latest ...
1486590  RT I find unbelievable appalling many anti mas...
1486591  RT Education Secretarys done heroic job Where ...

                                                    tokens
0        [RT, Litigation, update, FDA, double, asking, ...
1        [RT, The, TGA, approved, Moderna, vaccine, boo...
2        [RT, Federal, Health, Minister, Greg, Hunt, We...
3        [Are, denier, wearing, â€œ, if, I, get, sick, Co...
4        [RT, WOW, preprint, study, The, Lancet, show, ...
...                                                    ...
1486587  [RT, â€œ, following, science, â€, end, moment, Tr...
1486588  [Your, bos, breaking, Covid, protocol, social,...
1486589  [RT, Sedgwick, County, commissioner, heard, la...
1486590  [RT, I, find, unbelievable, appalling, many, a...
1486591  [RT, Education, Secretarys, done, heroic, job,...

[1486592 rows x 5 columns]

In [62]:

df['created_at'] = pd.to_datetime(df['created_at'], format='%a %b %d %H:%M:%S %z %Y')
df['day_of_week'] = df['created_at'].dt.dayofweek
df['month'] = df['created_at'].dt.month
df['year'] = df['created_at'].dt.year

In [63]:
df['text_length'] = df['cleaned_text'].apply(len)
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['cleaned_text'])

In [64]:
df.head()

,created_at,text,user_location,cleaned_text,tokens,day_of_week,month,year,text_length
0,2021-12-08 04:25:46+00:00,RT @AaronSiriSG: Litigation update: \n\nFDA d...,"Iasi, Romania",RT Litigation update FDA doubles asking federa...,"[RT, Litigation, update, FDA, double, asking, ...",2,12,2021,98
1,2021-12-08 04:25:57+00:00,RT @covidbaseau: The TGA has approved the Mode...,Canberra,RT The TGA approved Moderna vaccine booster do...,"[RT, The, TGA, approved, Moderna, vaccine, boo...",2,12,2021,88
2,2021-12-08 04:26:06+00:00,RT @SimoLove: Federal Health Minister Greg Hun...,"Wurundjeri Richmond, Melbourne",RT Federal Health Minister Greg Hunt Were well...,"[RT, Federal, Health, Minister, Greg, Hunt, We...",2,12,2021,102
3,2021-12-08 04:26:07+00:00,@twityouse Are these the deniers that are wear...,"Victoria, Australia",Are deniers wearing â€œif I get sick Covid never...,"[Are, denier, wearing, â€œ, if, I, get, sick, Co...",2,12,2021,78
4,2021-12-08 04:26:07+00:00,RT @drsimonegold: WOW: a preprint study for Th...,Perth WA,RT WOW preprint study The Lancet shows protect...,"[RT, WOW, preprint, study, The, Lancet, show, ...",2,12,2021,91

In [65]:

# Load and prepare the lexicon
lexicon = pd.read_csv('NRC-Emotion-Lexicon-Wordlevel-v0.92.txt', sep='\t', names=['word', 'emotion', 'association'])
lexicon_pivot = lexicon.pivot(index='word', columns='emotion', values='association').fillna(0)
lexicon_pivot.index = lexicon_pivot.index.map(str)  # Ensure index is all strings
vocabulary_dict = {word: i for i, word in enumerate(lexicon_pivot.index)}

In [66]:
lexicon

         word       emotion  association
0       aback         anger            0
1       aback  anticipation            0
2       aback       disgust            0
3       aback          fear            0
4       aback           joy            0
...       ...           ...          ...
141535   zoom      negative            0
141536   zoom      positive            0
141537   zoom       sadness            0
141538   zoom      surprise            0
141539   zoom         trust            0

[141540 rows x 3 columns]

In [67]:
lexicon_pivot.index

Index(['nan', 'aback', 'abacus', 'abandon', 'abandoned', 'abandonment',
       'abate', 'abatement', 'abba', 'abbot',
       ...
       'zephyr', 'zeppelin', 'zest', 'zip', 'zodiac', 'zone', 'zoo',
       'zoological', 'zoology', 'zoom'],
      dtype='object', name='word', length=14154)

In [68]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
df = df.dropna()

# Define a more nuanced emotion mapping
emotion_mapping = {
    'anger': ['anger'],
    'fear': ['fear'],
    'joy': ['joy'],
    'worried': ['fear', 'sadness'],
    'sadness': ['sadness'],
    'disgust': ['disgust'],
    'trust': ['trust'],
    'anticipation': ['anticipation'],
    'anxiety': ['fear', 'anticipation', 'negative']  # New definition for anxiety
}

# Vectorize tweets
vectorizer = CountVectorizer(vocabulary=vocabulary_dict)
df['cleaned_text'] = df['cleaned_text'].fillna('').astype(str)
tweet_matrix = vectorizer.fit_transform(df['cleaned_text'])

In [69]:
data = df

In [70]:
# Calculate emotion scores
emotion_scores = np.zeros((df.shape[0], len(emotion_mapping)))

for i, (category, emotions) in enumerate(emotion_mapping.items()):
    indices = np.array([lexicon_pivot.columns.get_loc(emotion) for emotion in emotions if emotion in lexicon_pivot.columns])
    emotion_scores[:, i] += tweet_matrix.dot(lexicon_pivot.iloc[:, indices].sum(axis=1))

# Normalize scores
emotion_scores_sum = emotion_scores.sum(axis=1, keepdims=True)
emotion_scores = np.where(emotion_scores_sum > 0, emotion_scores / emotion_scores_sum, 0)

# Assign the dominant emotion
dominant_emotion = pd.DataFrame(emotion_scores, columns=emotion_mapping.keys()).idxmax(axis=1)
df['emotion'] = np.where(emotion_scores_sum.squeeze() > 0, dominant_emotion, 'neutral')  # Default to 'neutral'

# Save results
df.to_csv('labeled_tweets.csv', index=False)

C:\Users\KYLEONEIL\AppData\Local\Temp\ipykernel_27048\2108236899.py:10: RuntimeWarning: invalid value encountered in divide
  emotion_scores = np.where(emotion_scores_sum > 0, emotion_scores / emotion_scores_sum, 0)

In [71]:
# Calculate the number of non-zero entries in the vectorized matrix
non_zero_matrix_entries = np.count_nonzero(tweet_matrix.sum(axis=1))

# Calculate the percentage of tweets with non-zero entries
percentage_non_zero = (non_zero_matrix_entries / df.shape[0]) * 100
print(f"Percentage of tweets containing lexicon words: {percentage_non_zero}%")

Percentage of tweets containing lexicon words: 95.46102763905631%

In [72]:
# Check the raw emotion scores for a random sample of tweets
sample_scores = pd.DataFrame(emotion_scores, columns=emotion_mapping.keys())
print("Sample emotion scores:\n", sample_scores.sample(10))

Sample emotion scores:
          anger      fear       joy   worried   sadness  disgust  trust  \
777289     0.0  0.000000  0.000000  0.000000  0.000000      0.0    1.0
43757      0.0  0.166667  0.000000  0.333333  0.166667      0.0    0.0
134062     0.0  0.000000  0.000000  0.000000  0.000000      0.0    1.0
762092     0.0  0.166667  0.000000  0.333333  0.166667      0.0    0.0
1161018    0.0  0.000000  0.000000  0.000000  0.000000      0.0    0.0
1162       0.0  0.000000  0.333333  0.333333  0.333333      0.0    0.0
611228     0.0  0.000000  0.000000  0.500000  0.500000      0.0    0.0
1031214    0.0  0.166667  0.000000  0.333333  0.166667      0.0    0.0
1284903    0.0  0.000000  0.000000  0.000000  0.000000      0.0    0.0
690035     0.0  0.100000  0.200000  0.100000  0.000000      0.1    0.2

         anticipation   anxiety
777289            0.0  0.000000
43757             0.0  0.333333
134062            0.0  0.000000
762092            0.0  0.333333
1161018           0.0  0.000000
1162              0.0  0.000000
611228            0.0  0.000000
1031214           0.0  0.333333
1284903           0.0  0.000000
690035            0.1  0.200000

In [73]:
df.shape

(1486592, 10)